#html, #body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#body {
    background: #0059E7;
    background: radial-gradient(circle,
    rgba(0, 89, 231, 1) 0%,
    rgba(43, 16, 88, 1) 100%);
    font-family: YekanBakh, sans-serif;
}
