#body {
  background: #0059e7;
  background: radial-gradient(
    circle,
    rgba(0, 89, 231, 1) 0%,
    rgba(43, 16, 88, 1) 100%
  );
  font-family: YekanBakh, sans-serif;
}

/* Toastify font override */
.toastify-rtl-font {
    font-family: "YekanBakh", sans-serif !important; /* or 'IranNastaliq' */
}
